name: Rust CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  # --------------------------------------------------------------------------
  # Pre-checks
  # --------------------------------------------------------------------------

  check:
    runs-on: ubuntu-latest
    container:
      image: rust:${{ matrix.rust }}
    strategy:
      matrix:
        include:
          - rust: 1.89-bookworm
          - rust: 1.92-trixie
    steps:
      - run: rustup component add rustfmt clippy
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - run: |
          cargo check --workspace --verbose
          cargo clippy --workspace
          cargo fmt --all --check --verbose

  # --------------------------------------------------------------------------
  # Tests
  # --------------------------------------------------------------------------

  test-linux:
    runs-on: ubuntu-latest
    needs: check
    container:
      image: rust:${{ matrix.rust }}
    strategy:
      matrix:
        rust: [1.89-bookworm, 1.92-trixie]
        arch: [x86_64, i686]
    steps:
      - if:  ${{ matrix.arch == 'i686' }}
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq && apt-get install -y --no-install-recommends gcc-multilib libc6-dev-i386
          rustup target add i686-unknown-linux-gnu
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - run: |
          cargo test --workspace --target ${{ matrix.arch }}-unknown-linux-gnu --verbose
          cargo test --workspace --target ${{ matrix.arch }}-unknown-linux-gnu --verbose --release -- --include-ignored
        env:
          CARGO_TARGET_DIR: /tmp/rolling-median-test

  test-windows:
    runs-on: windows-latest
    needs: check
    strategy:
      matrix:
        rust: [1.89.0, 1.92.0]
        arch: [x86_64, i686]
    steps:
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.arch }}-pc-windows-msvc
          cache: false
          rustflags: -Dwarnings
      - run: git config --global core.symlinks false
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - run: |
          $PSNativeCommandUseErrorActionPreference = $true
          iex "cargo test --workspace --target ${{ matrix.arch }}-pc-windows-msvc --verbose"
          iex "cargo test --workspace --target ${{ matrix.arch }}-pc-windows-msvc --verbose --release -- --include-ignored"
        env:
          CARGO_TARGET_DIR: ${{ runner.temp }}\rolling-median-test

  test-macos:
    runs-on: macos-latest
    needs: check
    strategy:
      matrix:
        rust: [1.89.0, 1.92.0]
        arch: [x86_64, aarch64]
    steps:
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.arch }}-apple-darwin
          cache: false
          rustflags: -Dwarnings
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - run: |
          cargo test --workspace --target ${{ matrix.arch }}-apple-darwin --verbose
          cargo test --workspace --target ${{ matrix.arch }}-apple-darwin --verbose --release
        env:
          CARGO_TARGET_DIR: /tmp/rolling-median-test
